// out:styles.css, sourcemap: false, compress:  false
body{
    margin:0;
    padding:0;
}
.gnb{
    border:1px+10; #f00 solid;
    li{
        border:1px #f00 solid;
        &:first-child{
            border:1px #00ff00 solid;
        }

    }
    a{
       text-decoration: none;
       &:hover{
           color:red;
       }
       color:#000;
    }
}
