
@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
  font-family: 'Oswald', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
input,
button {
  text-indent: -9999px;
  border: 0;
}
@keyframes line1 {
  50% {
    width: 13px;
  }
  100% {
    width: 22px;
  }
}
@keyframes line2 {
  50% {
    width: 22px;
  }
  100% {
    width: 13px;
  }
}
/*layout*/
/*header*/
header {
  height: 80px;
  background-color: #000;
  vertical-align: middle;
  position: relative;
  line-height: 80px;
  text-align: center;
}
header .logo {
  width: 62px;
  display: inline-block;
  float: left;
  margin-left: 31px;
}
header .logo img {
  display: inline-block;
  vertical-align: middle;
}
header .top_menu {
  width: 1200px;
  margin: 0 auto;
}
header .top_menu > li {
  float: left;
  width: 190px;
  padding: 0 15px;
  text-align: center;
}
header .top_menu > li:hover > a {
  color: #008889;
}
header .top_menu > li > a {
  text-transform: uppercase;
  display:block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  color: #fff;

}
header .sub_menu li {
  height: 0;
  height:20px;
  padding:-10px 0;
  transition: 1s;
  display: inline-block;
  display:none;
}
header ul .sub_menu{margin-top:20px;}

header .top_menu li:hover .sub_menu li{display:block;}

header .top_menu > li .sub_menu li {
  width: 190px;
  font-size: 13px;
  line-height: 13px;
  margin-top: 23px;
}
header .top_menu > li .sub_menu li:first-child {
  margin-top: 0;
}
header .top_menu > li .sub_menu li a {
  display: block;
  text-transform: uppercase;
}
header .top_menu > li .sub_menu li a:hover {
  color: #008889;
}
header .top_right {
  position: absolute;
  top: 22px;
  right: 10px;
  width: 135px;
  height: 35px;
}
header .top_right .home {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 35px;
  background-image: url(../images/teakwang/home-ico.png);
  background-repeat: no-repeat;
  background-position: center 10px;
  background-color: #333;
  cursor: pointer;
}
header .top_right .home:hover {
  background-color: #555;
}
header .top_right .sel-lang {
  width: 45px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: #086c6d;
  cursor: pointer;
  line-height: 35px;
}
header .top_right .sel-lang a {
  width: 45px;
  height: 35px;
  display: block;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
header .top_right .sel-lang a:hover {
  background-color: #199394;
}
header .top_right .cate {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  cursor: pointer;
}
header .top_right .cate:hover .line1 {
  animation: line1 2s infinite;
}
header .top_right .cate:hover .line2 {
  animation: line2 2s infinite;
}
header .top_right .cate:hover .line3 {
  animation: line1 2s infinite;
}
header .top_right .cate span {
  display: block;
  height: 2px;
  background-color: #fff;
}
header .top_right .cate span:first-child {
  font-size: 0;
  visibility: hidden;
}
header .top_right .cate .line1 {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 22px;
}
header .top_right .cate .line2 {
  position: absolute;
  top: 17px;
  right: 10px;
  width: 13px;
}
header .top_right .cate .line3 {
  position: absolute;
  top: 25px;
  right: 10px;
  width: 22px;
}
