@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  font-family: 'Kanit', 'Noto Sans KR', sans-serif;
}
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
p {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: top;
}
input {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #666;
}
#header {
  width: 1300px;
  padding: 20px 50px;
  outline: 2px #E80C7A solid;
  text-align: center;
  background-color: #360F32;
}
#header h1 {
  font-size: 30px;
  font-weight: 300;
  border-bottom: 2px #FFF solid;
  padding-bottom: 5px;
  display: inline-block;
  text-transform: uppercase;
}
#header h1 a {
  color: #FFF;
}
#header h1 a span {
  font-size: 12px;
  display: block;
}
#header .blogMenu {
  font-size: 0;
}
#header .blogMenu li {
  font-size: 14px;
  margin: 10px 5px;
  display: inline-block;
}
#header .blogMenu li a {
  color: #FFF;
}
#container {
  width: 990px;
  margin: 20px auto 0;
  border: 1px #F00 solid;
}
#container #content {
  float: left;
  width: 700px;
  border: 1px #F00 solid;
}
#container .entry .titleWrap {
  margin-bottom: 30px;
}
#container .entry .titleWrap h2 a {
  font-weight: 300;
  border-bottom: 2px #70A2E8 solid;
}
#container .entry .tagTrail {
  border: 1px #E87F0C solid;
  border-radius: 3px;
  margin: 35px 0 0;
  padding: 10px 20px;
  position: relative;
}
#container .entry .tagTrail .tagText {
  border-radius: 3px 3px 0 0 ;
  margin-left: 20px;
  position: absolute;
  left: 0;
  top: -30px;
  height: 30px;
  padding: 0 15px;
  background-color: #E87F0C;
  color: #FFF;
}
#container .entry .tagTrail a {
  font-size: 12px;
  color: #FFF;
  background-color: #70A2E8;
  padding: 0 10px;
  border-radius: 3px;
}
#container .entry .comment {
  display: inline-block;
  margin-top: 30px;
  width: 990px;
}
#container .entry .comment .commentWrite > p > textarea {
  width: 800px;
  border: 2px #00ff00 solid;
}
#container .entry .comment .commentWrite > p > input[type="submit"] {
  margin-top: -10px;
  margin-left: 800px;
  background-color: #E87F0C;
  color: #ffe4c4;
  border-radius: 5px;
  padding: 3px 10px;
}
#container .entry .commentList {
  border: 1px #F00 solid;
}
#container .entry .commentList > ol > li {
  margin: 20px 0;
}
#container .entry .commentList > ol > li > ul > li {
  margin-left: 56px;
}
#container .entry .commentList p {
  margin-left: 60px;
}
#container .entry .commentList .image {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  @color-master solid;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
#container .entry .commentList .image img {
  width: 100%;
  height: 100%;
  outline: 3px #360F32 solid;
}
#container .entry .commentList .control {
  float: right;
  color: #999999;
}
#container .entry .commentList .control a {
  font-size: 11px;
  border-radius: 3px;
  padding: 3px 10px;
  background-color: #E87F0C;
  color: #ffe4c4;
}
#container .entry .textwrap {
  border: 1px #F00 solid;
  margin: 0 20px;
  border-radius: 3px;
  text-align: center;
  width: 800px;
  margin: 10px 90px;
}
#container .entry .textwrap textarea {
  border: 0 none;
  width: 98%;
  resize: none;
  vertical-align: top;
  overflow-y: auto;
}
#container .entry .paging {
  margin-left: 450px;
  padding: 20px 0;
}
#container .entry .paging a {
  border: 1px #00ff00 solid;
  padding: 0 5px;
  border-radius: 3px;
  font-size: 12px;
}
#sidebar {
  margin-left: 700px;
  padding: 0 10px;
  border: 1px #F00 solid;
}
#sidebar .blogImage img {
  width: 100%;
  height: 100%;
}
#sidebar .category {
  height: 500px;
}
